<html>
    <head>
        <title>Sign Up Page</title>
    </head>
    <body>
        <h1>Fill out the form below to sign up</h1>
        <br/>
        <form action="{{ url_for('signup') }}" method="post">
            <p>
              {{ form.email.label }}<br>
              {{ form.email }}
            </p>
            <p>
              {{ form.username.label }}<br>
              {{ form.username }}
            </p>
            <p>
              {{ form.first_name.label }}<br>
              {{ form.first_name }}
            </p>
            <p>
              {{ form.last_name.label }}<br>
              {{ form.last_name }}
            </p>
            <p>
              {{ form.submit() }}
            </p>
            {{ form.csrf_token }}
        </form>
    </body>
</html>
